<ion-header>
  <ion-toolbar>
    <ion-title class="title-status" id="titleDinamic">{{mytitleDinamic}}</ion-title>
    <!--     <ion-title *ngIf="activeIndex == 0">Na Fila </ion-title>
    <ion-title *ngIf="activeIndex == 1"> Em Prepar o</ion-title>
    <ion-title *ngIf="activeIndex == 2">Pronto</ion-title> -->
  </ion-toolbar>

</ion-header>

<ion-content style="height: auto;">
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button>
      <ion-icon name="filter"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button  *ngFor="let item of listGroups; index as i;" (click)="formatOrdersByStatus(this.listsGeneral, item.displayId)">
        <ion-icon [name]="item.icon"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <swiper *ngIf="showSwipes" [spaceBetween]="10" [navigation]="true" [pagination]="{ clickable: true }" [scrollbar]="{ draggable: true }"
    (slideChange)="onSlideChange($event)" class="mySwiper">
    <ng-template swiperSlide>
      <ion-col>
        <ion-row style="padding: 20px;">
          <ion-col *ngIf="listQueued.length > 0">
            <!-- <ion-card> -->
            <ion-card *ngFor="let item of listQueued; index as i;">
              <ion-card-header class="danger">
                <div> </div>
              </ion-card-header>
              <ion-card-content class="card-content">
                <ion-card-title style="padding: 10px;">
                  <ion-row>
                    <ion-col>
                      <ion-row>
                        <ion-label class="position-title">{{item.deliveryPlaceName}}</ion-label>
                      </ion-row>
                      <ion-row>
                        <ion-label class="position-subtitle">{{item.accountName}}</ion-label>
                      </ion-row>
                    </ion-col>
                    <ion-col class="ion-align-self-center">
                      <ion-label class="category-title">
                        {{item.displayDescription}}
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-card-title>
                <ion-list lines="none" *ngFor="let entries of item.entries;">
                  <ion-item style="    font-size: 20px;">{{entries.entryQuantity}}x {{entries.itemDescription}}
                  </ion-item>
                </ion-list>
              </ion-card-content>
              <ion-footer>
                <ion-item>
                  <ion-badge slot="end">{{item.launchCode}}</ion-badge>
                </ion-item>
              </ion-footer>
            </ion-card>
            <!-- </ion-card> -->
          </ion-col>
     <!--      <ion-col *ngIf="!listQueued || listQueued.lenth > 0">
            
          </ion-col> -->
        </ion-row>
      </ion-col>
    </ng-template>

    <ng-template swiperSlide>
      <ion-col>

        <ion-row style="padding: 20px;">
          <ion-col>
            <!-- <ion-card> -->
            <ion-card *ngFor="let item of listInPreparation; index as i;">
              <ion-card-header class="danger">
                <div> </div>
              </ion-card-header>
              <ion-card-content class="card-content">
                <ion-card-title style="padding: 10px;">
                  <ion-row>
                    <ion-col>
                      <ion-row>
                        <ion-label class="position-title">{{item.deliveryPlaceName}}</ion-label>
                      </ion-row>
                      <ion-row>
                        <ion-label class="position-subtitle">{{item.accountName}}</ion-label>
                      </ion-row>
                    </ion-col>
                    <ion-col class="ion-align-self-center">
                      <ion-label class="category-title">
                        {{item.displayDescription}}
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-card-title>
                <ion-list lines="none" *ngFor="let entries of item.entries;">
                  <ion-item style="    font-size: 20px;">{{entries.entryQuantity}}x {{entries.itemDescription}}
                  </ion-item>
                </ion-list>
              </ion-card-content>
              <ion-footer>
                <ion-item>
                  <ion-badge slot="end">{{item.launchCode}}</ion-badge>
                </ion-item>
              </ion-footer>
            </ion-card>
            <!-- </ion-card> -->
          </ion-col>
        </ion-row>
      </ion-col>

    </ng-template>

    <ng-template swiperSlide>
      <ion-col>

        <ion-row style="padding: 20px;">
          <ion-col>
            <!-- <ion-card> -->
            <ion-card *ngFor="let item of listReady; index as i;">
              <ion-card-header class="danger">
                <div> </div>
              </ion-card-header>
              <ion-card-content class="card-content">
                <ion-card-title style="padding: 10px;">
                  <ion-row>
                    <ion-col>
                      <ion-row>
                        <ion-label class="position-title">{{item.deliveryPlaceName}}</ion-label>
                      </ion-row>
                      <ion-row>
                        <ion-label class="position-subtitle">{{item.accountName}}</ion-label>
                      </ion-row>
                    </ion-col>
                    <ion-col class="ion-align-self-center">
                      <ion-label class="category-title">
                        {{item.displayDescription}}
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-card-title>
                <ion-list lines="none" *ngFor="let entries of item.entries;">
                  <ion-item style="    font-size: 20px;">{{entries.entryQuantity}}x {{entries.itemDescription}}
                  </ion-item>
                </ion-list>
              </ion-card-content>
              <ion-footer>
                <ion-item>
                  <ion-badge slot="end">{{item.launchCode}}</ion-badge>
                </ion-item>
              </ion-footer>
            </ion-card>
            <!-- </ion-card> -->
          </ion-col>
        </ion-row>
      </ion-col>

    </ng-template>
  </swiper>
</ion-content>