<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Alterar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="ligth">
  <ion-card>
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Profissão</ion-label>
      <ion-input type="text"  [(ngModel)]="usuario.job"></ion-input>
    </ion-item>
  </ion-card>
  <br>
  <ion-button expand="full" color="warning" (click)="salvar()">Salvar</ion-button>

  <ion-card *ngIf="usuario.updatedAt">
    <ion-item>
      <p>Id: {{ usuario.id }}</p>
    </ion-item>
    <ion-item>
      <p>Nome: {{ usuario.name }}</p>
    </ion-item>
    <ion-item>
      <p>Profissão: {{ usuario.job }}</p>
    </ion-item>
    <ion-item>
      <p>Data de Cadastro: {{ usuario.updatedAt | date:'dd/MM/yyyy HH:mm'}}</p>
    </ion-item>
  </ion-card>
</ion-content>

