<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      Realmente deseja deletar todas as informações do usuário {{ user.first_name }} {{ user.last_name }}?
    </ion-card-content>
  </ion-card>
  <br>
  <ion-button expand="full" color="danger" (click)="deletar(user.id)">Deletar</ion-button>
  <ion-card *ngIf="usuarioIdDelete">
    <ion-item color="success">
      <ion-label>{{ user.first_name }} {{ user.last_name }} Deletado !</ion-label>
    </ion-item>
  </ion-card>
</ion-content>

