<ion-tabs >        
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="account">
      <ion-icon name="person"></ion-icon>
      <!-- <ion-label>Usuários</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="leitura-codigo-de-barras">
      <ion-icon name="barcode"></ion-icon>
      <!-- <ion-label>Código</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="bluetooth">
      <ion-icon name="bluetooth"></ion-icon>
      <!-- <ion-label>Dispositivos</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="payment">
      <ion-icon name="card"></ion-icon>
      <!-- <ion-label>Pagamento</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> 
