<ion-header>
  <ion-toolbar color="primary"  size="large">
    <ion-title size="large">Minhas Vendas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background:url(assets/img/bgTitle.jpg) no-repeat center;background-size:cover;background-color:#000000;" >
  <div class="spacer" style="height:40px;" id="minhasVendas-spacer2"></div>
  <!--   
  <form id="minhasVendas-form1">    
    <ion-list id="minhasVendas-list1">
      <ion-item id="minhasVendas-input3">
        <ion-label>
          Email
        </ion-label>
        <ion-input type="email" placeholder=""></ion-input>
      </ion-item>
      <ion-item id="minhasVendas-input2">
        <ion-label>
          Password
        </ion-label>
        <ion-input type="password" placeholder=""></ion-input>
      </ion-item>
    </ion-list>    
  </form> 
  -->
  <!-- <ion-button expand="block" color="secondary" (click)="goToHome()">Entrar</ion-button> -->
  <ion-button expand="block" color="secondary" routerLink="/tabs">Entrar</ion-button>
</ion-content>
