<ion-header>
  <ion-toolbar>
    <ion-title class="title-status" id="titleDinamic2">{{mytitleDinamic}}</ion-title>
    <!--     <ion-title *ngIf="activeIndex == 0">Na Fila </ion-title>
    <ion-title *ngIf="activeIndex == 1"> Em Prepar o</ion-title>
    <ion-title *ngIf="activeIndex == 2">Pronto</ion-title> -->
  </ion-toolbar>

</ion-header>

<ion-content style="height: auto;">


  <ion-fab horizontal="end" vertical="top" slot="fixed" edge *ngIf="showFilter">
    <ion-fab-button>
      <ion-icon [name]="statusSelected[0]?.icon"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button *ngFor="let item of listGroups; index as i;"
        (click)="formatOrdersByStatus(this.listsGeneral, item.displayId)">
        <ion-icon [name]="item.icon"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <swiper *ngIf="showSwipes" [spaceBetween]="5" [navigation]="true" [pagination]="{ clickable: true }"
    (slideChange)="onSlideChange($event)" class="mySwiper">

    <!-- Em preparo -->
    <ng-template swiperSlide>
      <ion-col>

        <ion-row style="padding: 20px;">
          <ion-col>
            <ion-card class="main-card" *ngFor="let item of listReady; index as i;">
              <ion-card-header class="danger">
                <div> </div>
              </ion-card-header>
              <ion-card-content class="card-content" (click)="updateStatus(item, 3);">
                <ion-card-title style="padding: 10px;">
                  <ion-row>
                    <ion-col>
                      <ion-row>
                        <ion-label class="position-title">{{item.deliveryPlaceName}}</ion-label>
                      </ion-row>
                      <ion-row>
                        <ion-label class="position-subtitle">{{item.accountName}}</ion-label>
                      </ion-row>
                    </ion-col>
                    <ion-col class="ion-align-self-center">
                      <ion-label class="category-title">
                        {{item.displayDescription}}
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-card-title>
                <ion-list lines="none" *ngFor="let entries of item.entries;">
                  <ion-item style="font-size: 20px;">{{entries.entryQuantity}}x {{entries.itemDescription}} </ion-item>
                  <ion-label class="ion-text-left" *ngFor="let modifiers of entries.modifiers;">
                    <p style="padding: 0 16px 0 16px;"> {{modifiers.modifierQuantity}}x {{modifiers.modifierDescription}}</p>
                  </ion-label>
                  <ion-label class="ion-text-left" color="danger" *ngIf="entries.note">
                    <p style="padding: 0 16px 0 16px; color: #eb445a;"> {{entries.note}}</p>
                  </ion-label>
                </ion-list>
              </ion-card-content>
              <ion-footer>
                <ion-item lines="none" class="ion-no-padding">
                  <ion-fab>
                    <ion-fab-button color="light" size="small" (click)="updateStatus(item, 1)">
                      <ion-icon name="arrow-back"></ion-icon>
                    </ion-fab-button>
                  </ion-fab>
                  <ion-badge class="badge-number-pedido" slot="end">{{item.launchCode}}</ion-badge>
                </ion-item>
              </ion-footer>
            </ion-card>
            <ion-card *ngIf="listReady.length == 0">
              <ion-card-content>
                Nenhum pedido {{statusSelected[0].displayDescription != 'Todos' ? ' de ' +
                statusSelected[0].displayDescription : ''}} Pronto
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ng-template>

    <ng-template swiperSlide>
      <ion-col>
        <ion-row style="padding: 20px;">
          <ion-col>
            <!-- <ion-card> -->
            <!-- <ion-card *ngFor="let item of listReady; index as i;" (click)="updateStatus(item, 3);"> -->
            <ion-card class="main-card" *ngFor="let item of listPickedUp; index as i;">
              <ion-card-header class="danger">
                <div> </div>
              </ion-card-header>
              <ion-card-content class="card-content" (click)="updateStatus(item, 4);">
                <ion-card-title style="padding: 10px;">
                  <ion-row>
                    <ion-col>
                      <ion-row>
                        <ion-label class="position-title">{{item.deliveryPlaceName}}</ion-label>
                      </ion-row>
                      <ion-row>
                        <ion-label class="position-subtitle">{{item.accountName}}</ion-label>
                      </ion-row>
                    </ion-col>
                    <ion-col class="ion-align-self-center">
                      <ion-label class="category-title">
                        {{item.displayDescription}}
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-card-title>
                <ion-list lines="none" *ngFor="let entries of item.entries;">
                  <ion-item style="font-size: 20px;">{{entries.entryQuantity}}x {{entries.itemDescription}} </ion-item>
                  <ion-label class="ion-text-left" *ngFor="let modifiers of entries.modifiers;">
                    <p style="padding: 0 16px 0 16px;"> {{modifiers.modifierQuantity}}x {{modifiers.modifierDescription}}</p>
                  </ion-label>
                  <ion-label class="ion-text-left" color="danger" *ngIf="entries.note">
                    <p style="padding: 0 16px 0 16px; color: #eb445a;"> {{entries.note}}</p>
                  </ion-label>
                </ion-list>
              </ion-card-content>

              <ion-footer>
                <ion-item lines="none" class="ion-no-padding">
                  <ion-fab>
                    <ion-fab-button color="light" size="small" (click)="updateStatus(item, 2)">
                      <ion-icon name="arrow-back"></ion-icon>
                    </ion-fab-button>
                  </ion-fab>
                  <ion-badge class="badge-number-pedido" slot="end">{{item.launchCode}}</ion-badge>
                </ion-item>
              </ion-footer>

            </ion-card>
            <ion-card *ngIf="listPickedUp.length == 0">
              <ion-card-content>
                Nenhum pedido {{statusSelected[0].displayDescription != 'Todos' ? ' de ' +
                statusSelected[0].displayDescription : ''}} Entregue
              </ion-card-content>
            </ion-card>
            <!-- </ion-card> -->
          </ion-col>
        </ion-row>
      </ion-col>
    </ng-template>
  </swiper>
</ion-content>