ion-slides {
  height: 100%;
}

.swiper {
  width: 100%;
  // height: 100%;
}

/* .swiper .swiper-slide {
  padding: 10px;
    height: auto !important;
    display: flex;
    position: relative;
    flex-shrink: 0;
    align-items: start !important;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
} */

/* .swiper .swiper-slide {
  display: flex;
  position: relative;
  flex-shrink: 0;
  align-items: start;
  justify-content: center;
  width: 100%;
  font-size: 18px;
  text-align: center;
  box-sizing: border-box;
}
 */

 .main-card{
   margin-bottom: 35px;
 }

.card-content {
  padding: 0;
  background-color: #F0F0F0;
  //margin-bottom: 5px;
}

.category-title {
  text-align: end;
  //margin-bottom: 5px;
  font-size: 20px;
  text-transform: uppercase;
  color:  var(--ion-color-primary);
}
.position-title {
  text-align: center;
  font-size: 30px;
  //margin-bottom: 5px;
}

.position-subtitle {
  text-align: start;
  font-size: 14px;
  //margin-bottom: 5px;
}


.danger {
  background-color: var(--ion-color-danger) !important;
  font-size: 10px;
  height: 25px;
  // --header-progress-width: 75%;
  // font-size: var(--card-header-font-size);
  // height: var(--card-header-height);
  line-height: 25px;
  align-items: center;
  padding: 0 10px;
  display: flex;
  background-color: transparent;
  // color: var(--ion-color-light);
}


.normal {
  background-color: var(--ion-color-medium) !important;
  font-size: 10px;
  height: 25px;
  // --header-progress-width: 75%;
  // font-size: var(--card-header-font-size);
  // height: var(--card-header-height);
  line-height: 25px;
  align-items: center;
  padding: 0 10px;
  display: flex;
  background-color: transparent;
  // color: var(--ion-color-light);
}

.warning {
  background-color: var(--ion-color-warning) !important;
  font-size: 10px;
  height: 25px;
  // --header-progress-width: 75%;
  // font-size: var(--card-header-font-size);
  // height: var(--card-header-height);
  line-height: 25px;
  align-items: center;
  padding: 0 10px;
  display: flex;
  background-color: transparent;
  // color: var(--ion-color-light);
}

.title-status{
  text-align: center;
  font-size: 30px;
}

.badge-number-pedido{
  padding: 5px;
  font-size: 19px;
}



/* ion-icon {
  pointer-events: none;
} */

$content-margin  : 10px